{
  "name": "{{appName}}-api",
  "version": "0.0.1",
  "description": "{{appDescription}}",
  "type": "module",
  "repository": {
    "type": "{{repositoryType}}",
    "url": "{{repositoryAddress}}"
  },
  "main": "src/server.js",
  "directories": {
    "test": "test"
  },
  "scripts": {
    "test": "node --import ./test/setup.js --test --test-concurrency=1 test/*.test.js",
    "dev": "nodemon src/server.js",
    "start": "node src/server.js",
    "prettier": "prettier --write .",
    "eslint": "eslint --fix ."
  },
  "author": "{{author}}",
  "license": "MIT",
  "dependencies": {
    "bcrypt": "^6.0.0",
    "dotenv": "^17.4.2",
    "express": "^5.1.0",
    "express-validator": "^7.0.1",
    "jsonwebtoken": "^9.0.2",
    "mongoose": "^9.9.4"
  },
  "devDependencies": {
    "@eslint/js": "^10.0.1",
    "eslint": "^10.9.1",
    "globals": "^17.11.0",
    "nodemon": "^3.1.14",
    "prettier": "^3.9.6",
    "supertest": "^7.2.2"
  },
  "prettier": {
    "printWidth":80,
    "tabWidth":2,
    "useTabs":false,
    "semi":true,
    "singleQuote":false,
    "trailingComma":"none",
    "bracketSpacing":true,
    "requirePragma":false,
    "insertPragma":false,
    "proseWrap":"preserve"
  }
}
