// Load Module Dependencies
var express = require('express');

{{requireRoutes}}
{{requireUserRouter}}

// Export Router Initializer
module.exports = function iniRouter(app) {
// Set home rout to docs page
app.use(express.static('docs'));

{{initializeRoutes}}

{{userRouter}}
};