import {{modelName}} from "../models/{{modelNameToLower}}.js";
import { HttpError } from "../utils/http-error.js";
import { getQueryOptions } from "../utils/query-options.js";

const defaultFields = {{modelDefaultFieldList}};
const population = {{relatedModels}};

export async function create{{modelName}}(req, res) {
  const {{modelNameToLower}} = await {{modelName}}.create(req.body);
  res.status(201).json({{modelNameToLower}});
}

export async function get{{modelName}}(req, res) {
  const {{modelNameToLower}} = await {{modelName}}
    .findById(req.params.{{modelNameToLower}}Id)
    .populate(population)
    .lean();

  if (!{{modelNameToLower}}) {
    throw new HttpError(404, "{{modelName}} not found");
  }

  res.json({{modelNameToLower}});
}

export async function search{{modelNamePlural}}(req, res) {
  const options = getQueryOptions(req.query, defaultFields);
  const [result, total, totalFiltered] = await Promise.all([
    {{modelName}}
      .find(options.filter, options.fields)
      .populate(population)
      .sort(options.sort)
      .limit(options.limit)
      .skip(options.limit * (options.page - 1))
      .lean(),
    {{modelName}}.countDocuments(),
    {{modelName}}.countDocuments(options.filter)
  ]);

  res.json({
    options: { ...options, total, totalFiltered },
    result
  });
}

export async function update{{modelName}}(req, res) {
  const {{modelNameToLower}} = await {{modelName}}
    .findByIdAndUpdate(
      req.params.{{modelNameToLower}}Id,
      { $set: req.body },
      { new: true, runValidators: true }
    )
    .populate(population)
    .lean();

  if (!{{modelNameToLower}}) {
    throw new HttpError(404, "{{modelName}} not found");
  }

  res.json({{modelNameToLower}});
}

export async function remove{{modelName}}(req, res) {
  const {{modelNameToLower}} = await {{modelName}}
    .findByIdAndDelete(req.params.{{modelNameToLower}}Id)
    .lean();

  if (!{{modelNameToLower}}) {
    throw new HttpError(404, "{{modelName}} not found");
  }

  res.json({{modelNameToLower}});
}
