// Load Module Dependencies.
import {{modelName}} from '../models/{{modelNameToLower}}.js';
const population = [
{{relatedModels}}
];


/**
 * create a new {{modelNameToLower}}.
 *
 * @desc  creates a new {{modelNameToLower}} and saves it in the database
 *
 * @param {Object}   {{modelNameToLower}}Data  Data for the {{modelName}} to create
 * @param {Function} cb     Callback for once saving is complete
 */
export function create({{modelNameToLower}}Data, cb) {
    console.log('creating a new {{modelName}}');
    // Create {{modelName}}
    {{modelName}}.create({{modelNameToLower}}Data)
        .then({{modelNameToLower}} => cb(null, {{modelNameToLower}}))
        .catch(err => cb(err));
};


/**
 * remove a {{modelNameToLower}}
 *
 * @desc  delete data of the {{modelNameToLower}} with the given id
 *
 * @param {Object}  query   Query Object
 * @param {Function} cb Callback for once delete is complete
 */
export function remove(query, cb) {
    console.log('deleting {{modelNameToLower}}: ', query);
    {{modelName}}
        .findOneAndDelete(query)
        .then({{modelNameToLower}} => cb(null, {{modelNameToLower}}))
        .catch(err => cb(err));
};


/**
 * update a {{modelNameToLower}}
 *
 * @desc  update data of the {{modelNameToLower}} with the given id
 *
 * @param {Object} query Query object
 * @param {Object} updates  Update data
 * @param {Function} cb Callback for once update is complete
 */
export function update(query, updates, cb) {
    console.log('updating {{modelNameToLower}}: ', query);

    {{modelName}}
        .findOneAndUpdate(query, { $set: updates }, {new: true}) // option to return the new document
        .populate(population)
        .then({{modelNameToLower}} => cb(null, {{modelNameToLower}} || {}))
        .catch(err => cb(err));
};


/**
 * get a {{modelNameToLower}}.
 *
 * @desc get a {{modelNameToLower}} with the given id from db
 *
 * @param {Object} query Query Object
 * @param {Function} cb Callback for once fetch is complete
 */
export function get(query, cb) {
    console.log('getting {{modelNameToLower}} ', query);
    {{modelName}}
        .findOne(query)
        .populate(population)
        .then({{modelNameToLower}} => cb(null, {{modelNameToLower}} || {}))
        .catch(err => cb(err));
};


/**
 * search the collection of {{modelNamePluralToLower}}
 *
 * @desc get a collection of {{modelNamePluralToLower}} from db
 *
 * @param {Object} query Query Object
 * @param {Function} cb Callback for once fetch is complete
 */
export function search(options, cb) {
    console.log('Searching a collection of {{modelNamePluralToLower}}');
    {{modelName}}.find(options.filter, options.fields)
        .populate(population)
        .sort(options.sort)
        .limit(options.limit)
        .skip(options.limit * (options.page - 1))
        .then({{modelNamePluralToLower}} => cb(null, {{modelNamePluralToLower}}))
        .catch(err => cb(err));
};

/**
 * count
 *
 * @desc get the total or filtered count of {{modelNamePluralToLower}} in the collection.
 *
 * @param {Function} cb Callback for once fetch is complete
 */
export function count(filter, cb) {
  {{modelName}}.countDocuments(filter)
      .then(count => cb(null, count))
      .catch(err => cb(err));
};
