// Load module dependencies
import mongoose from 'mongoose';

// Define {{modelName}} attributes
const {{modelName}}Schema = mongoose.Schema({
{{modelSchema}}
}, {
  timestamps: true
});

// Export {{modelName}} model
export default mongoose.model('{{modelName}}', {{modelName}}Schema);
