import express from "express";

import * as {{modelName}} from "../controllers/{{modelNameToLower}}.js";
import { validateRequest } from "../middleware/validate-request.js";
import {
  deleteValidator,
  getValidator,
  postValidator,
  putValidator
} from "./validators/{{modelNameToLower}}.js";
{{checkAuthImportToken}}

const router = express.Router();

{{postRoute}}
{{searchRoute}}
{{getRoute}}
{{putRoute}}
{{deleteRoute}}

export default router;
