// Load Module Dependencies
import { {{validatorImports}} } from "express-validator";

/**
 * POST Validation.
 *
 * @desc  A array of validation rules to apply on POST
 */
export const postValidator = [
  {{postFieldValidation}}
];

/**
 * GET Validation.
 *
 * @desc  A array of validation rules to apply on GET
 */
export const getValidator = [
  param('{{modelNameToLower}}Id', "{{modelName}} ID is required").isMongoId()
];

/**
 * PUT Validation.
 *
 * @desc  A array of validation rules to apply on PUT
 */
export const putValidator = [
  {{putFieldValidation}}
  param('{{modelNameToLower}}Id', "{{modelName}} ID is required").isMongoId()
];

/**
 * DELETE Validation.
 *
 * @desc  A array of validation rules to apply on DELETE
 */
export const deleteValidator = [
  param('{{modelNameToLower}}Id', "{{modelName}} ID is required").isMongoId()
];
